# Framework.
.env

# System.
.DS_Store

# IDE.
/\.idea/

# Dependencies.
/vendor/
/node_modules/
/\.yarn-error.log

# Cache and coverage.
/\.coverage/
/\.phpunit\.result\.cache
\.scannerwork/

# Build.
/public/css/
/public/js/
/public/mix-manifest.json

public/service-worker.*
public/workbox*
nginx/local-key.pem

nginx/local.pem

public/public/service-worker.js
