# Framework.
.env

# System.
.DS_Store

# IDE.
/\.idea/

# Dependencies.
/vendor/
/node_modules/
/\.yarn-error.log

# Cache and coverage.
/\.coverage/
/\.phpunit\.result\.cache
\.scannerwork/

# Build.
/public/css/
/public/fonts/
/public/js/
/public/mix-manifest.json
