@charset "UTF-8";

@import "bootstrap/bootstrap";
@import "themes/themes";
@import "utilities/utilities";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  display: flex;
  flex-flow: column;
}
