.theme {
  &-light {
    .gradient {
      background: linear-gradient(90deg, #ec2f4b 0%, #009fff 100%);
    }

    --bg-color: #ffffff;
    --title-color: #4a5568;
    --text-color: #1a202c;
    --primary-text-color: #ffffff;
    --secondary-bg-color: #ffffff;
    --secondary-text-color: #2d3748;
  }

  &-dark {
    .gradient {
      background: linear-gradient(90deg, #ec2f4b 0%, #009fff 100%);
    }

    --bg-color: #1a202c;
    --title-color: #f7fafc;
    --text-color: #e2e8f0;

    --primary-text-color: #ffffff;
    --secondary-bg-color: #ffffff;
    --secondary-text-color: #2d3748;
  }

  &-unicorn {
    .gradient {
      background: #ed64a6;
    }

    --bg-color: #1a202c;
    --title-color: #f7fafc;
    --text-color: #e2e8f0;

    --primary-text-color: #ffffff;
    --secondary-bg-color: #ffffff;
    --secondary-text-color: #2d3748;
  }
}

.bg- {
  &theme {
    background-color: var(--bg-color);
  }

  &primary {
    @extend .gradient;
  }

  &secondary {
    background-color: var(--secondary-bg-color);
    opacity: .75;
  }
}

.text- {
  &theme {
    color: var(--text-color);
  }

  &primary {
    color: var(--primary-text-color);
  }

  &secondary {
    color: var(--secondary-text-color);
  }
}
