* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body {
  height: 100%;
}

::selection {
  background: var(--primary-bg-color) !important;
}

::-moz-selection {
  background: var(--primary-bg-color) !important;
}
