@charset "UTF-8";

@import "~docsify/themes/vue";

body {
  --theme-color: var(--primary-bg-color);

  &, .sidebar, .sidebar ul li a, .anchor span, .markdown-section strong {
    background-color: var(--base-bg-color);
    color: var(--base-color);
  }

  .markdown-section code {
    background-color: var(--secondary-bg-color);
    color: var(--muted-color);
  }

  .markdown-section p.tip code {
    background-color: var(--base-bg-color);
    color: var(--muted-color);
  }

  .markdown-section p.tip {
    border-radius: 0.25rem;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);

    & em {
      color: var(--secondary-color);
    }
  }

  .markdown-section pre > code {
    background-color: var(--secondary-bg-color);
    color: var(--base-color);
  }

  .markdown-section > pre {
    border-radius: 0.25rem;
    background-color: var(--secondary-bg-color);

    .docsify-copy-code-button {
      border-bottom-left-radius: 0.25rem;
    }
  }

  .sidebar {
    border-right-color: var(--secondary-bg-color) !important;

    .search {
      margin-bottom: 0;

      &, .matching-post {
        border-bottom-color: var(--secondary-bg-color) !important;
      }

      .clear-button > svg > path {
        stroke: var(--base-bg-color);
      }

      .input-wrap > input {
        border-radius: 0.25rem;
        background-color: var(--secondary-bg-color);
        color: var(--base-color);

        &::placeholder {
          color: var(--base-color);
        }
      }
    }

    .app-name {
      margin-top: 1rem;
      font-weight: bold;
    }
  }

  .sidebar-toggle {
    background-color: transparent !important;
  }
}

