nav.navbar {
  background: linear-gradient(90deg, var(--gradient-bg-color));
  color: var(--gradient-color);

  .navbar-brand, .nav-link {
    color: var(--gradient-color) !important;
  }

  .collapsed > .when-opened,
  :not(.collapsed) > .when-closed {
    display: none;
  }

  &, .phpunitgen-logo svg {
    transition: 400ms ease-out;
  }

  .phpunitgen-logo svg g {
    fill: var(--gradient-color) !important;
  }

  &.extended {
    padding-top: 15px;
    padding-bottom: 15px;

    .phpunitgen-logo svg {
      height: 35px;
    }
  }

  @media (max-width: 991.98px) {
    &.extended {
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15) !important;
    }
  }
}
