.tool-tabs {
  .nav.nav-tabs {
    font-weight: bold;
    padding-bottom: 1rem;
    border: none;

    .nav-link {
      background: none;
      color: var(--base-color);
      border: none;
      transition: 300ms;
      border-radius: 0;
      border-bottom: 3px solid transparent;
      padding-bottom: 0.75rem;

      &.active {
        color: var(--primary-bg-color);
        border-bottom: 3px solid var(--primary-bg-color);

        &:focus {
          filter: none;
        }
      }

      &:not(.active):hover {
        color: var(--muted-color);
      }
    }
  }
}
