nav.app-nav.no-badge {
  width: 100%;
  margin: 0;
  padding: 15px 15px 0 15px;
  transition: 250ms ease-out;

  * {
    font-size: 1rem !important;
    line-height: 1.5;
  }

  > ul {
    display: flex;
    width: 100%;
    padding: 0;

    > li:first-child {
      margin-right: auto;

      .phpunitgen-logo {
        display: none;
      }
    }

    > li > ul {
      z-index: 10;

      background-color: var(--secondary-bg-color);
      color: var(--secondary-color);

      border: 1px solid var(--secondary-bg-color-hover);

      padding: 0.5rem 0;

      > li {
        margin: 0;
        padding: 0;

        > a {
          padding: 0.25rem 1.5rem;

          &:hover, &:focus {
            background-color: var(--secondary-bg-color);
            color: var(--secondary-color);
            filter: brightness(var(--hover-brightness));
          }

          &.active {
            background-color: var(--primary-bg-color);
            color: var(--primary-color);
          }
        }
      }
    }
  }
}

section.content {
  margin-top: 50px;
}

@media (min-width: 768px) {
  body:not(.custom-close) nav.app-nav.no-badge {
    width: calc(100% - 300px);
    margin-left: 300px;
  }

  nav.app-nav.no-badge > ul > li:first-child {
    .home-icon {
      display: none;
    }

    .phpunitgen-logo {
      display: inline;
      height: 24px !important;

      svg {
        height: 24px !important;
      }
    }
  }
}
