.theme-unicorn {
  --base-bg-color: #1a202c;
  --base-color: #ffffff;

  --gradient-bg-color: #c100ff 0%, #ff0080 100%;
  --gradient-color: #ffffff;

  --primary-bg-color: #8300FF;
  --primary-color: #ffffff;

  --secondary-bg-color: #2e343f;
  --secondary-color: var(--base-color);

  --success-bg-color: #28a745;
  --success-color: var(--base-color);

  --warning-bg-color: #ffc107;
  --warning-color: var(--base-bg-color);

  --danger-bg-color: #c82333;
  --danger-color: var(--base-color);

  --hover-brightness: 115%;

  @import '~prismjs/themes/prism-tomorrow';
}
