.theme-light {
  --base-bg-color: #ffffff;
  --base-color: #1a202c;

  --base-sub-bg-color: #f8f8f8;

  --gradient-bg-color: #ec2f4b 0%, #009fff 100%;
  --gradient-color: #ffffff;

  --primary-bg-color: #009fff;
  --primary-color: #ffffff;

  --secondary-bg-color: var(--base-bg-color);
  --secondary-color: var(--base-color);

  --hover-brightness: 85%;
}
