.theme-forest {
  --base-bg-color: #024722;
  --base-color: #ffffff;

  --gradient-start-color: #056d35;
  --gradient-stop-color: #33b670;
  --gradient-bg-color: var(--gradient-start-color) 0%, var(--gradient-stop-color) 100%;
  --gradient-color: #ffffff;

  --primary-bg-color: #33b670;
  --primary-color: #ffffff;

  --secondary-bg-color: #175232;
  --secondary-color: var(--base-color);

  --success-bg-color: #28a745;
  --success-color: var(--base-color);

  --warning-bg-color: #ffc107;
  --warning-color: var(--base-bg-color);

  --danger-bg-color: #c82333;
  --danger-color: var(--base-color);

  --muted-color: #aeb3b8;

  --hover-brightness: 115%;

  @import '~prismjs/themes/prism-tomorrow';
}
