@import "common";

body, .bg-base {
  background-color: var(--base-bg-color);
  color: var(--base-color);
}

a {
  color: var(--primary-bg-color);

  &:hover, &:focus {
    color: var(--primary-bg-color);
    filter: brightness(var(--hover-brightness));
  }
}

nav.navbar {
  background: linear-gradient(90deg, var(--gradient-bg-color));
  color: var(--gradient-color);
}

footer {
  background: linear-gradient(180deg, var(--base-bg-color) 0%, var(--secondary-bg-color) 50%);
  color: var(--secondary-color);
}

.dropdown-menu {
  background-color: var(--secondary-bg-color);
  border: none;

  .dropdown-item {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);

    &:hover, &:focus {
      background-color: var(--secondary-bg-color);
      color: var(--secondary-color);
      filter: brightness(var(--hover-brightness));
    }

    &.active {
      background-color: var(--primary-bg-color);
      color: var(--primary-color);

      &:hover, &:focus {
        filter: brightness(var(--hover-brightness));
      }
    }
  }
}

.card {
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);
}

@import '~codemirror/theme/tomorrow-night-eighties.css';
@import '~codemirror/theme/darcula.css';
@import '~codemirror/theme/pastel-on-dark.css';
@import '~codemirror/theme/erlang-dark.css';
@import '~codemirror/theme/blackboard.css';

.CodeMirror {
  height: auto !important;
  border-radius: 0.25rem;
  font-family: $font-family-monospace !important;
  color: var(--secondary-color) !important;
  background-color: var(--secondary-bg-color) !important;

  .CodeMirror-linenumber {
    color: var(--muted-color) !important;
  }

  .CodeMirror-gutters {
    padding: 0 !important;
  }
  .CodeMirror-gutters, div.CodeMirror-selected {
    border: none;
    background-color: var(--secondary-bg-color) !important;
    filter: brightness(var(--hover-brightness));
  }

  .CodeMirror-gutter.CodeMirror-linenumbers {
    background: none;
  }
}

pre {
  &, > code {
    background-color: var(--secondary-bg-color);
    color: var(--base-color);
  }
}

$variants: (
        "primary",
        "secondary",
        "success",
        "warning",
        "danger",
);

.text-muted, input::placeholder {
  color: var(--muted-color) !important;
}

@each $variant in $variants {
  .btn.btn-#{$variant} {
    background-color: var(--#{$variant}-bg-color) !important;
    color: var(--#{$variant}-color) !important;

    &:not(.disabled):hover, &:not(.disabled):focus {
      filter: brightness(var(--hover-brightness));
    }
  }

  .text-#{$variant} {
    color: var(--#{$variant}-bg-color) !important;
  }
}

.toast {
  border: none;
  border-radius: 0.25rem;

  .close {
    color: var(--secondary-color);
    text-shadow: none;
  }

  .toast-header, .toast-body {
    border: none;
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
  }
}

.form-control {
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);

  &:active, &:focus {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
  }
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
}

.custom-control-label::before {
  background-color: var(--secondary-bg-color);
}

.input-group .input-group-text {
  border: none;
  color: var(--secondary-color);
  background-color: var(--secondary-bg-color);
  filter: brightness(var(--hover-brightness));
}
