@import "common";

body, .bg-base {
  background-color: var(--base-bg-color);
  color: var(--base-color);
}

a {
  color: var(--primary-bg-color);

  &:hover, &:focus {
    color: var(--primary-bg-color);
    filter: brightness(var(--hover-brightness));
  }
}

nav.navbar, footer {
  background: linear-gradient(90deg, var(--gradient-bg-color));
  color: var(--gradient-color);
}

.dropdown-menu {
  background-color: var(--secondary-bg-color);

  .dropdown-item {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);

    &:hover, &:focus {
      background-color: var(--secondary-bg-color);
      color: var(--secondary-color);
      filter: brightness(var(--hover-brightness));
    }

    &.active {
      background-color: var(--primary-bg-color);
      color: var(--primary-color);

      &:hover, &:focus {
        filter: brightness(var(--hover-brightness));
      }
    }
  }
}

.prism-editor-wrapper {
  border-radius: 0.25rem;
  min-height: 50vh;

  &, > div, > pre {
    background-color: var(--secondary-bg-color) !important;
  }
}

pre {
  &, > code {
    background-color: var(--secondary-bg-color);
    color: var(--base-color);
  }
}

$variants: (
        "primary",
        "secondary",
        "success",
        "warning",
        "danger",
);

.text-muted, input::placeholder {
  color: var(--muted-color) !important;
}

@each $variant in $variants {
  .btn.btn-#{$variant} {
    background-color: var(--#{$variant}-bg-color) !important;
    color: var(--#{$variant}-color) !important;

    &:not(.disabled):hover, &:not(.disabled):focus {
      filter: brightness(var(--hover-brightness));
    }
  }

  .bg-#{$variant} {
    background-color: var(--#{$variant}-bg-color) !important;
  }
}

.form-control {
  border: none;
  background-color: var(--secondary-bg-color);
  color: var(--secondary-color);

  &:active, &:focus {
    background-color: var(--secondary-bg-color);
    color: var(--secondary-color);
  }
}

.custom-control-input:checked ~ .custom-control-label::before {
  background-color: var(--primary-bg-color);
  border-color: var(--primary-bg-color);
}

.custom-control-label::before {
  background-color: var(--secondary-bg-color);
}

.input-group .input-group-text {
  border: none;
  color: var(--secondary-color);
  background-color: var(--secondary-bg-color);
  filter: brightness(var(--hover-brightness));
}
