.configuration-quick-links {
  top: 80px;

  > a {
    color: var(--base-color);

    &:hover, &:active {
      color: var(--base-color);
    }
  }
}

.configuration {

  label.custom-control-label {
    font-size: 110%;
  }

  label:not(.custom-control-label) {
    font-size: 120%;
  }
}
