.theme-dark {
  --base-bg-color: #1a202c;
  --base-color: #ffffff;

  --gradient-start-color: #ec2f4b;
  --gradient-stop-color: #0073d4;
  --gradient-bg-color: var(--gradient-start-color) 0%, var(--gradient-stop-color) 100%;
  --gradient-color: #ffffff;

  --primary-bg-color: #0073d4;
  --primary-color: #ffffff;

  --secondary-bg-color: #2e343f;
  --secondary-bg-color-hover: #{lighten(#2e343f, 5%)};
  --secondary-color: var(--base-color);

  --success-bg-color: #28a745;
  --success-color: var(--base-color);

  --warning-bg-color: #ffc107;
  --warning-color: var(--base-bg-color);

  --danger-bg-color: #c82333;
  --danger-color: var(--base-color);

  --muted-color: #aeb3b8;

  --link-color: #0088ff;

  --hover-brightness: 115%;
}
