.theme-original {
  --base-bg-color: #ffffff;
  --base-color: #212121;

  --gradient-start-color: #2196f3;
  --gradient-stop-color: #ff9800;
  --gradient-bg-color: var(--gradient-start-color) 0%, var(--gradient-stop-color) 100%;
  --gradient-color: #ffffff;

  --primary-bg-color: #ff9800;
  --primary-color: #ffffff;

  --secondary-bg-color: #f8f8f8;
  --secondary-bg-color-hover: #{darken(#f8f8f8, 5%)};
  --secondary-color: var(--base-color);

  --success-bg-color: #28a745;
  --success-color: var(--base-bg-color);

  --warning-bg-color: #ffc107;
  --warning-color: var(--base-color);

  --danger-bg-color: #c82333;
  --danger-color: var(--base-bg-color);

  --muted-color: #6c757d;

  --hover-brightness: 95%;
}
