.theme-night {
  --base-bg-color: #271e54;
  --base-color: #ffffff;

  --gradient-start-color: #49399a;
  --gradient-stop-color: #39559a;
  --gradient-bg-color: var(--gradient-start-color) 0%, var(--gradient-stop-color) 100%;
  --gradient-color: #ffffff;

  --primary-bg-color: #634dd2;
  --primary-color: #ffffff;

  --secondary-bg-color: #362973;
  --secondary-bg-color-hover: #{lighten(#362973, 5%)};
  --secondary-color: var(--base-color);

  --success-bg-color: #28a745;
  --success-color: var(--base-color);

  --warning-bg-color: #ffc107;
  --warning-color: var(--base-bg-color);

  --danger-bg-color: #c82333;
  --danger-color: var(--base-color);

  --muted-color: #aeb3b8;

  --link-color: #937efe;

  --hover-brightness: 115%;
}
