.theme-black {
  --base-bg-color: #000000;
  --base-color: #ffffff;

  --gradient-start-color: #000f19;
  --gradient-stop-color: #004f7f;
  --gradient-bg-color: var(--gradient-start-color) 0%, var(--gradient-stop-color) 100%;
  --gradient-color: #ffffff;

  --primary-bg-color: #0067a5;
  --primary-color: #ffffff;

  --secondary-bg-color: #141414;
  --secondary-bg-color-hover: #{lighten(#141414, 5%)};
  --secondary-color: var(--base-color);

  --success-bg-color: #28a745;
  --success-color: var(--base-color);

  --warning-bg-color: #ffc107;
  --warning-color: var(--base-bg-color);

  --danger-bg-color: #c82333;
  --danger-color: var(--base-color);

  --muted-color: #aeb3b8;

  --link-color: #007fd1;

  --hover-brightness: 115%;
}
