.theme-rainbow {
  --base-bg-color: #ffffff;
  --base-color: #1a202c;

  --gradient-start-color: #ff3ba6;
  --gradient-stop-color: #6f5ba7;
  --gradient-bg-color: var(--gradient-start-color) 0, #e2453c 16%, #e07e39 32%, #e5d667 48%, #51b95b 66%, #1e72b7 86%, var(--gradient-stop-color) 100%;
  --gradient-color: #ffffff;

  --primary-bg-color: #ff8503;
  --primary-color: #ffffff;

  --secondary-bg-color: #f8f8f8;
  --secondary-bg-color-hover: #{darken(#f8f8f8, 5%)};
  --secondary-color: var(--base-color);

  --success-bg-color: #28a745;
  --success-color: var(--base-bg-color);

  --warning-bg-color: #ffc107;
  --warning-color: var(--base-color);

  --danger-bg-color: #c82333;
  --danger-color: var(--base-bg-color);

  --muted-color: #6c757d;

  --hover-brightness: 95%;
}
