@import "theme-light";
@import "theme-dark";
@import "theme-unicorn";
@import "theme-rainbow";
@import "theme-night";
@import "theme-ocean";
@import "theme-desert";
@import "theme-forest";
@import "theme-original";

body.theme-switching * {
  transition-timing-function: ease;
  transition-property: background, box-shadow, border !important;
  transition-duration: 0.5s !important;
}

body, .bg-base {
  background-color: var(--base-bg-color);
  color: var(--base-color);
}
