$fontDirectory: "../../fonts/";

@mixin defineFontFace($font, $fontFamily) {
  @font-face {
    font-family: $fontFamily;
    src: url("#{$fontDirectory}#{$font}/#{$font}-Regular.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: $fontFamily;
    src: url("#{$fontDirectory}#{$font}/#{$font}-Bold.woff2") format('woff2');
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: $fontFamily;
    src: url("#{$fontDirectory}#{$font}/#{$font}-Italic.woff2") format('woff2');
    font-weight: normal;
    font-style: italic;
  }

}
